* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai";
}

body {
  color: #3E5D73;
  font-family: "Noto Sans Thai";
  font-size: 100%;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {

}

.heading {
  font-size: 1.4rem;
  font-weight: 480;
  text-align: center;

}

.container {
  position: relative;
  margin: 2 rem auto;
  max-width: calc(100% - 80px);
}
.article-contianer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.semi-circle {
  
  height: 40vh;
  background-color: #9BB6AC; 
  border-radius: 0 0 50% 50%;
  clip-path: ellipse(50% 100% at 50% 0%);
  transform: rotate(180deg);
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 100% ; 
  background-color: #9BB6AC; 
}

button {
  background-color: #F9FAED;
  border: 10px solid transparent;
  border-radius: 3rem;
  color: #6892A0;
  font-size: 24px;
  font-weight: 550;
  text-align: center;
  width: 180px;
  vertical-align: middle;
}

.card {
  background-color: #F9FAED;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  border: 10px solid transparent;
  border-radius: 1rem;
  width: 50%;
  margin: 5%;
}

.card img {
  padding-top: 10px ;
  max-width: 100%;
  border-radius: 1rem;
  
}

.card-description {
  font-size: 16px;
  font-weight: 600;
  color: #6892A0;
}



footer {
  background-color: #6892A0;
  text-align: center;
  padding: 35px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  
}