* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background-color);
}

button {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 10px solid transparent;
  border-radius: 3rem;
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
  cursor: pointer;
  margin: 0 1rem;
}

footer {
  background-color: var(--secondary-color);
  height: 100px;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-bar {
  display: flex;
  justify-content: end;
  padding: 1rem;
  user-select: none;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.header-title h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.header-title p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -1rem;
  color: var(--secondary-color);
}

.image-container {
  position: relative;
  margin-top: 5vh;
  height: calc(100vw / 2);
}

.image-wrapper {
  position: absolute;
  z-index: 1;
  user-select: none;
  width: 100%;
  padding: 5% 20% 0% 20%;
}

.image-background {
  position: absolute;
  width: 100vw;
  height: calc(100vw / 2);
  background-color: var(--tertiary-color);
  border-radius: 100vw 100vw 0 0;
}

.app-section {
  background-color: var(--tertiary-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1024px;
}

.building-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem;
}

.toilet-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.toilet-wrapper {
  display: flex;
  justify-content: space-between;
  height: 400px;
  margin-top: 2rem;
}

.toilet-card {
  background-color: var(--background-color);
  height: 100%;
  width: 61%;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

.toilet-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toilet-card-title {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.toilet-card-score {
  display: flex;
  align-items: start;
}

.toilet-review-score {
  display: flex;
  align-items: start;
}

.toilet-review-score p {
  font-size: 1.1rem;
  font-weight: 650;
  color: var(--accent-color);
  margin-right: 0.5rem;
}

.toilet-card-score p {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--accent-color);
  margin-right: 0.5rem;
}

.toilet-card-description {
  font-weight: 600;
  color: var(--secondary-color);
}

.toilet-review-detail {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-right: 0.5rem;
}

.toilet-card-image {
  width: 100%;
  height: 270px;
  margin-top: 12px;
}

.toilet-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.toilet-review-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 36%;
  border-radius: 1.5rem;
  overflow-y: scroll;
}

.toilet-review-card {
  background-color: var(--background-color);
  padding: 1rem;
  border-radius: 1.5rem;
  min-height: 148px;
  width: 100%;
  margin-bottom: 1.5rem;
}

.toilet-review-header {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}
